<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="FinalProject2" parallel="tests">
    <test name="Swoop Tests">
        <groups>
            <run>
                <include name="SwoopRegression"/>
            </run>
        </groups>
        <packages>
            <package name="ge.tbc.tbcitacademy.swoop"/>
        </packages>
    </test>

    <test name="SauceDemo Tests">
        <groups>
            <run>
                <include name="SauceDemoLogin"/>
            </run>
        </groups>
        <packages>
            <package name="ge.tbc.tbcitacademy.saucedemo"/>
        </packages>
    </test>
</suite>